.gradient-header {
  align-items: center;
  display: flex;
  justify-content: center;
}

.gradient-header span {
  font-size: 30pt;
}

main article {
  display: grid;
  justify-content: center;
  grid-row-gap: 20px;
  padding: 3vh 0 3vh 0;
}

main .mEenvbr-beschrijving li {
  list-style-type: none;
}
