.index-container {
  display: flex;
  justify-content: center;
}

.welcome-msg {
  padding: 3rem 0rem 3rem 0rem;
  width: 60vw;
  font-weight: 300;
}

@media screen and (max-width: 500px) {
  .welcome-msg {
    width: 80vw;
  }
}
