/*
Dit is de css voor de navigatie, blijf hier alsjeblieft af, er hoeft niks aan gedaan te worden <3
*/

ul.topnav {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	background-color: #101013;
	margin: 0;
	padding: 0;
	top: 0;
	width: 100%;
	position: fixed;
	z-index: 998;
}

ul.topnav li {
	float: left;
}

ul.topnav li:hover {
	cursor: pointer;
}

ul li a {
	display: inline-block;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	padding: 14px 20px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 11pt;
}

ul.topnav li a:hover {
  color: #FFFFFF;
  background-color: #13BDEC;
}

nav.mPres li.mPres,
nav.mEenvbr li.mEenvbr,
nav.mEenvrk li.mEenvrk,
nav.mComplrk li.mComplrk,
nav.mOmrk li.mOmrk {
  color: #000000;
	background-color: #13BDEC;
}

.show {
	display: block;
}

ul.topnav li.burger-icon {
	display: none;
}

@media screen and (max-width: 1150px) {
  ul.topnav li {
		display: none;
	}
  ul.topnav li.burger-icon {
    float: right;
    display: inline-block;
		background-color: #101013;
  }
}

@media screen and (max-width: 1150px) {
  ul.topnav.responsive {
		position: relative;
		display: inline-block;
		padding-top: 5rem;
	}
  ul.topnav.responsive li.burger-icon {
    position: fixed;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
