.gradient-header {
  align-items: center;
  display: flex;
  justify-content: center;
}

.gradient-header span {
  font-size: 30pt;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  height: 500px;
  width: 1000px;
}

.slide section {
  background-color: gray;
  height: 500px;
  width: 1000px;
  padding: 3rem;
  display: flex;
}

li {
  list-style-type: none;
}

h1 {
  font-weight: 600;
  font-size: 2rem;
}

.slide {
  transition: 2s;
  display: flex;
}

.slideshow {
  overflow: hidden;
  height: 500px;
  width: 1000px;
}

.slides {
  display: flex;
  align-items: center;
}

.slide-nav {
  display: flex;
  justify-content: center;
  transform: translateY(-40px);
}

.bar-point:not(:last-child){
  margin-right: 3vw;
}

.bar-point:hover {
  background-color: white;
}

.slides input {
  display: none;
}

.bar-point {
  width: 50px;
  height: 20px;
  border: 2px solid white;
  border-radius: 3px;
  transition: 1s;
  cursor: pointer;
}

#radio1:checked ~ .slide-1 {
  margin-left: 0px;
}

#radio2:checked ~ .slide-1 {
  margin-left: -1000px;
}

#radio3:checked ~ .slide-1 {
  margin-left: -2000px;
}

#radio4:checked ~ .slide-1 {
  margin-left: -3000px;
}
